body {
    background-color: #e6f7ff;
    font-family: Arial, sans-serif;
    margin: 0;
}

.header {
    background: linear-gradient(to bottom,  #3490de, #6fe7dd);
    padding: 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeInDown 0.8s forwards;
        opacity: 0;
}

.header h1 {
    margin: 0 0 20px 0;
    font-size: 48px;
}

.header p {
    font-size: 24px;
    margin: 10px 10px 20px 0;
}

.button-link {
    text-decoration: none;
    margin: 0 15px;
}

.button-link button {
    background-color: #a6e3e9;
    border: none;
    padding: 15px 30px;
    margin: 0 5px 20px 5px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.button-link button:hover {
    background-color: #dddddd;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        transform: scale(1.25);
}


.intro {
    padding: 5px 0;
    text-align: left;
}


.intro h2 {
    font-size: 24px;
    margin-left: 50px;
    text-align: left;
    display: inline-block;
    padding: 5px 20px;
        border-radius: 10px;
        border-left: 5px solid #009688;
        border-right: 5px solid #009688;
}

.intro h2:hover {
    background-color: #00968780;
    color: white;
}

 .content {
     padding: 5px;
 }

 .intro p {
    font-size: 16px;
        color: #666;
    line-height: 1.5;
    margin: 0 50px;
        margin-bottom: 20px;
    max-width: 1000px;
    padding: 0 15px;
}
        
.image-overview {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

.intro img {
    max-width: 100%;
    height: auto;
    border: 0px solid #ddd;
    padding: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 50px;
    width: 50%;
    border: 1px solid #458772;
    padding: 5px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.5s;
        animation: fadeInUp 1s forwards;
        margin-bottom: 20px;
}

.intro img {
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.intro img:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Table styles */
table {
    width: 62%;
    border-collapse: collapse;
    margin: 10px 0;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 0.9em;
    color: #333;
}

table caption {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #79acd98b;
    border-bottom: 0px solid #999;
    margin-bottom: 5px;
    text-align: center;
}

table thead {
    background-color: #e9e9e9;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px 15px;
    text-align: center;
}

table th {
    background-color: #f5f5f5;
    color: #333;
    font-weight: bold;
}

table tbody tr:nth-child(even) {
    background-color: #f7f7f7;
}

table tbody tr:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

table a {
    color: #007bff;
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}
.content h2 {
    font-size: 24px;
    margin-left: 50px;
    text-align: left;
    display: inline-block;
        padding: 5px 20px;
        border-radius: 10px;
        border-left: 5px solid #009688;
        border-right: 5px solid #009688;
}

.content h2:hover {
    background-color: #00968780;
    color: white;
}

.content p {
    font-size: 18px;
    margin-left: 50px;
        text-align: left;
}

.image-gallery {
    width: 70%;
    display: flex;
    justify-content: left;
        align-items: center;
        margin-top: 20px;
        margin-left: 35px;
    }
    
    .img-wrapper {
        position: relative;
        width: 20%;
        margin: 0 10px;
        cursor: pointer;
        overflow: visible;
    }
                .img-wrapper img {
                    width: 100%;
                    max-width: 450px;
                    border-radius: 10px;
                    transition: transform 0.3s, box-shadow 0.3s;
    border: 1px solid #458772;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInUp 1s forwards;
    /* margin-bottom: 20px; */
}
.img-wrapper:hover img {
    transform: translateY(0) scale(1.25);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.img-description {
    position: absolute;
    top: 100%;
    /* Position the description right at the bottom of the image */
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    /* Initially hide the description */
    transition: opacity 0.3s;
    /* Smooth transition for the opacity */
}

.img-wrapper:hover .img-description {
    display: block;
    opacity: 1;
}
.citation-box {
    margin: 20px 50px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 60%;
}

.citation-box h3 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 2px solid #009688;
    display: inline-block;
    padding-bottom: 5px;
}

.citation-box textarea {
    width: 98%;
    height: 120px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    transition: border 0.3s;
    background: #c3bef029;
        color: #2e1210;
}

.citation-box textarea:hover, .citation-box textarea:focus {
    border: 1px solid #009688;
}


footer {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(to right, #a8e6cf, #c3bef0);
    font-size: 14px;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 36px;
    }
}
