body {
    background-color: #e6f7ff;
    font-family: Arial, sans-serif;
    margin: 0;
}

.header {
    background: linear-gradient(to bottom,  #3490de, #6fe7dd);
    padding: 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeInDown 0.8s forwards;
        opacity: 0;
}

.header h1 {
    margin: 0 0 20px 0;
    font-size: 48px;
}

.header p {
    font-size: 24px;
    margin: 10px 10px 20px 0;
}

.button-link {
    text-decoration: none;
    margin: 0 15px;
}

.button-link button {
    background-color: #a6e3e9;
    border: none;
    padding: 15px 30px;
    margin: 0 5px 20px 5px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.button-link button:hover {
    background-color: #dddddd;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        transform: scale(1.25);
}


.intro {
    padding: 5px;
}

.intro h2 {
    font-size: 24px;
    margin-left: 50px;
    text-align: left;
    display: inline-block;
        padding: 5px 20px;
            border-radius: 10px;
            border-left: 5px solid #009688;
            border-right: 5px solid #009688;
        }
                                                                                                                                .intro h2:hover {
                                                                                                                                    background-color: #00968780;
                                                                                                                                    color: white;
    }
                                                                                                                                .content {
                                                                                                                                    padding: 5px;
                                                                                                                                }
.intro p {
    font-size: 18px;
    margin-left: 50px;
    text-align: left;
}

/* 让图片居中， */
.intro img {
    display: block;
    margin: 0 auto;
    width: 50%;
    border: 1px solid #458772;
    padding: 5px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(-50px);
        transition: all 0.5s;
        animation: fadeInUp 1s forwards;
        margin-bottom: 20px;
}

.content h2 {
    font-size: 24px;
    margin-left: 50px;
    text-align: left;
    display: inline-block;
        padding: 5px 20px;
        border-radius: 10px;
        border-left: 5px solid #009688;
        border-right: 5px solid #009688;
}
.content h2:hover {
    background-color: #00968780;
    color: white;
}

.content p {
    font-size: 18px;
    margin-left: 50px;
        text-align: left;
}

.image-gallery {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
}

.image-gallery img {
    width: 50%;
    border: 1px solid #458772;
    padding: 5px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.5s;
    animation: fadeInUp 1s forwards;
        margin-bottom: 20px;
}
/* when hover the image-gallery, make it zoom up and display in center */
.image-gallery:hover img {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.citation-box {
    margin: 20px 50px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        width: 55%;
}

.citation-box h3 {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 15px;
    border-bottom: 2px solid #009688;
    display: inline-block;
    padding-bottom: 5px;
}

.citation-box textarea {
    width: 98%;
    height: 120px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    transition: border 0.3s;
        background: #c3bef029;
        color: #2e1210;
}

.citation-box textarea:hover, .citation-box textarea:focus {
    border: 1px solid #009688;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(to right, #a8e6cf, #c3bef0);
    font-size: 14px;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 36px;
    }
}

.header p {
    font-size: 18px;
}